{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Smartly manage your devices and go Green<h2>
    <h3>Control the Relay<h3>
  </div>
  
  <div class="conntroller_relay">
	<div class="channel_one">
	  <a href="/relay_on/1">
	    <section>C1 ON</section>	
	  </a>
      <a href="/relay_off/1">
	    <section>C1 OFF</section>	
	  </a>
	</div>

	<div class="channel_two">
	  <a href="/relay_on/2">
	    <section>C2 ON</section>	
	  </a>
      <a href="/relay_off/2">
	    <section>C2 OFF</section>	
	  </a>
	</div>
  </div>

<br>

  <div>
	<table class="logs">
	  <h2>Relay logs</h2>
      <tr>
        <th>#ID</th>
        <th>Status/Comment</th>
        <th>DateTime</th>
	  </tr>
      {%- for log in logs %}
	  <tr class="items">
		<td>{{ log.id }}</td>
		<td>{{ log.comment }}</td>
		<td>{{ log.logtime.strftime('%Y-%m-%d %H:%M') }}</td>
	  </tr>
	  {%- endfor %}
    </table>
  </div>
{% endblock %}
